@model IEnumerable<RSSReader.Models.Item>

@{
    ViewData["Title"] = "Index";
}  
<br />  
<h2>RSS Feed Reader</h2>  
<hr />  
<br />  
@using (Html.BeginForm())  
{  
    <input type="URL" name="RSSURL" placeholder="Enter RSS Feed URL Here..." class="form-control" value="https://habr.com/rss/interesting" style="min-width:100%" />  
    <br />  
    <input type="submit" class="btn btn-danger" />  
}  
<table class="table table-hover">  
    <thead>  
        <tr>  
            <th>Заголовок</th>   
            <th>Описание</th>  
            <th>Дата публикации</th>  
        </tr>  
    </thead>  
    <tbody>
        @if (ViewBag.RSSFeed != null)  
        {  
            foreach (var item in ViewBag.RSSFeed)  
            {  
                <tr>  
                    <td><a href="@item.Url">@item.Title</a></td>
                    <td>@item.Description</td>  
                    <td>@item.PostDate</td>  
                </tr>  
            }  
        }  
    </tbody>  
</table>  
